* {
    box-sizing: border-box;
    user-select: none
}
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
body {
    margin: 0;
    padding: 0;
}
.pt--1 {
    width: 100vw;
    height: 100vh;
    display: flex;
}
.content--left {
    width: 500px;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.slideshow {
    width: inherit;
    height: inherit;
    display: flex;
    position: relative;
}
.slideshow img {
    width: 110%;
}
.botoes {
    position: absolute;
    width: auto;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
button {
    height: 50px;
    width: 50px;
    font-size: 40px;
    color: aqua;
    border: none;
    background-color: transparent;
    cursor: pointer;
    transition: all 0.3s ease;
}
button:hover {
    background-color: rgba(240, 248, 255, 0.398);
}
.content--right {
    flex: 1.9;
    background-image: linear-gradient(to bottom, aqua, #0c4c99 );
    position: relative;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s ease;
}
.txt h1 {
    font-size: 90px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Anton', sans-serif;
    color: #78b5ff;
    text-transform: uppercase;
    text-shadow: 0px 2px #f6c8ff;
}
.txt h1 span {
    color: beige;
}
.tarja {
    width: 400px;
    height: 200px;
    background-color: #4e92e4;
    position: absolute;
    top: -10%;
    right: -22%;
    rotate: 40deg;
}

.coracao {
    width: 100px;
    height: 100px;
    position: absolute;
    transform: rotate(-45deg);
    background-color: red;
    top: 70%;
    right: 30%;
    transition: all 0.3s ease;
    animation: coracao 1s infinite;
    opacity: 0;
}
@keyframes coracao {
    0% {
        scale: 125%;
    }
    25% {
        scale: 150%;
    }
    50% {
        scale: 125%;
    }
    75% {
        scale: 170%;
    }
    100% {
        scale: 150%;
    }
}

.coracao:before,
.coracao:after {
    content: "";
    width: 100px;
    height: 100px;
    background-color: red;
    border-radius: 50%;
    position: absolute;
}

.coracao:before {
    top: -50px;
    left: 0;
}

.coracao:after {
    top: 0;
    left: 50px;
}
@media (max-width: 320px) {
    .pt--1 {
        height: 100%;
        display: flex;
        flex-direction: column;
    }
    .content--right {
        width: 500px;
    }
    .title h1 {
        font-size: 60px;
    }
    .tarja {
        display: none;
    }
    .coracao {
        width: 50px;
        height: 50px;
    }
    .coracao:after,
    .coracao:before {
        width: 50px;
        height: 50px;
    }
    .coracao:before {
        top: -30px;
        left: 0px;
    }
    
    .coracao:after {
        top: -20px;
        left: 50px;
    }
}
.txt--coracao {
    position: absolute;
    z-index: 100;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(125, 125, 251);
    display: none;
    color: #fff;
    text-shadow: 0px 2px #000;
    padding: 70px;
    font-size: 30px;
    text-align: center;
    line-height: 90px;
}
